<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Desarrollo Movil</ion-label>
      <ion-badge color="success">10</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Aplicaiones de IoT</ion-label>
      <ion-badge color="success">9.5</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Aplicacion web para la I 4.0</ion-label>
      <ion-badge color="success">9</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Ingles</ion-label>
      <ion-badge color="d">9.7</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Expresion Oral y Escrita II</ion-label>
      <ion-badge color="warning">8</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Base De Datos Para Computo En La Nube</ion-label>
      <ion-badge color="danger">9</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
