<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-button>Default</ion-button> 
  </div>
  <div>
    <ion-button color="primary">Primary</ion-button>
  </div>
  <div>
    <ion-button color="secondary">Secondary</ion-button>
  </div>
  <div>
    <ion-button color="tertiary">Tertiary</ion-button>
  </div>
  <div>
    <ion-button color="success">Success</ion-button>
  </div>
  <div>
    <ion-button color="warning">Warning</ion-button>
  </div>
  <div>
    <ion-button color="danger">Danger</ion-button>
  </div>
  <div>
    <ion-button color="light">Light</ion-button>
  </div>
  <div>
    <ion-button color="medium">Medium</ion-button>
  </div>
  <div>
    <ion-button color="dark">Dark</ion-button>
  </div>
</ion-content>
